VITE_FIREBASE_API_KEY=AIzaSyATDU6HDbc6kIc3VVBaEU1hit2uBS7Ybr8
VITE_FIREBASE_AUTH_DOMAIN=meteo-apprentissage.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=meteo-apprentissage
VITE_FIREBASE_STORAGE_BUCKET=meteo-apprentissage.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=506565850175
VITE_FIREBASE_APP_ID=1:506565850175:web:6865dd67e50c16c2e7b48a
VITE_FIREBASE_MEASUREMENT_ID=G-CY806GL8Q7
